{% extends 'app_base.html' %}
{% load static %}

{% block 'title' %}Naive Bayes{% endblock %}
{% block 'ml_num' %}Machine Learning 1{% endblock %}
{% block 'model' %}Naive Bayes{% endblock %}
{% block 'model_title' %}Naive Bayes{% endblock %}
{% block 'algorithm_type' %}Classification Algorithm{% endblock %}

{% block cf_sidebar1 %}
    <div class="font-inter pt-[2rem]">
        <div class="p-[1.5rem] border border-solid border-1 border-[#D3D3D3] rounded-lg ">
            <div class="flex space-x-3 items-center ">
                <img src="{% static 'img/security-protection-fingerprint-identity-crime-svgrepo-com.png' %}" alt="" class="w-[1rem] h-[1rem] mt-[-3px]">
                <p class="font-space text-base font-bold m-0">Crime Classification</p>
            </div>

            <div class="py-[1.5rem] text-sm">
                Crime Classification by <span class="text-[#800080]">THOMAS & PAULK, P.A.</span> from The <a href="#" class="underline underline-offset-4">6 Types of Criminal Offenses</a>.
            </div>

            <div class="overflow-y-auto h-[19rem] pr-[1.5rem] space-y-5">
                {% for i in data  %}
                    <div class="flex flex-col space-y-2">
                        <span class="rounded-lg bg-[{{i.bg_color}}] p-[0.5rem] text-sm font-space w-fit text-center 
                        
                        {% if i.label_crime == 'Financial/White Collar Crime' %}text-black{% else %}text-white {% endif %} 
                        
                        ">{{ i.label_crime }}</span>

                        <span class="italic text-xs">{{ i.desc }}</span>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div>
            <span class="text-[0.6rem]">© 2023 Tracer NU Manila, All rights reserved.</span>
        </div>
    </div>
{% endblock cf_sidebar1 %}


{% block cf_main %}

    <div>
        <div class="relative">

            <div id="errorAlert" class="hidden my-3 text-red-500 text-sm font-inter flex flex-col bg-red-200 rounded-lg w-full px-[2rem] py-[0.5rem]">
                Please provide input that is not empty and try again.
            </div>

            <div id="wrapper_textarea" class="border border-solid border-1 
                border-[#D3D3D3] rounded-lg h-[25rem]">

                <div id="editable-div" contenteditable="true" class="h-[80%] w-full overflow-y-auto whitespace-pre-wrap 
                cursor-text font-inter text-base focus:outline-none p-5">
                    This is an editable div. You can type or paste text here.
                </div>

                <div class="flex justify-center px-3 ">

                    <div class="mt-5 flex items-center space-x-7">
                        
                        <div >
                            <button id="clearall-btn" class="font-inter bg-none text-black underline underline-offset-4 rounded-lg w-fit
                            select-none py-[0.2rem] px-[0.5rem] text-sm hover:text-[#8F8F8F]">
                                Clear All 
                            </button>
                        </div>

                        <button id="predict-btn" class="font-space bg-gradient-to-l from-fuchsia-700 via-fuchsia-500 to-fuchsia-400 text-white rounded-lg py-[0.7rem] px-[1rem]
                        select-none cursor-pointer flex space-x-2 justify-center hover:bg-[#ff5cff] focus:outline-none">

                            <img src="{% static 'img/search-alt-svgrepo-com.png' %}" alt="predict" class="w-[1.3rem] h-[1.3rem]">
                            <p> Predict </p>
                        </button>


                    </div>
                </div>

               
            </div>

            <div class="absolute bottom-0 right-0 mb-3 right-5 text-sm select-none font-semibold">
                <div class="text-blue-600">
                <p id="word-count" class="">0 Words</p>
                </div>
            </div>

        </div>

        <div class="my-6">

            <div id="cf-loading" class="hidden h-[17rem] flex justify-center items-center">
                <img src="{% static 'img/Ellipsis-1s-200px-unscreen.gif' %}" alt="loading" class="w-[10rem] h-[10rem]">
            </div>

            <div id="result-menu" class="hidden flex justify-between items-center">
                <div>
                    <h1 class="font-space font-semibold m-0 text-[#8F8F8F] m-0 p-0">Result</h1>
                </div>

                <div>
                    <button id="clear-result-btn" class="font-inter bg-none text-black underline underline-offset-4 rounded-lg w-fit
                        select-none py-[0.2rem] px-[0.5rem] text-sm hover:text-[#8F8F8F]">
                        clear result
                    </button>
                </div>
            </div>
            
            <div class="hidden my-5" id="result_container">
                <div id="result_error_alert" class="hidden bg-[#EDF1F2] w-2/3 h-[12rem] p-5 space-y-4 rounded-lg">
                    <div>
                        <span id="predicted_label" class="rounded-lg bg-red-600 py-[0.2rem] px-[0.5rem] text-white font-space w-fit text-center text-sm select-none">Violent Crime</span>
                    </div>

                    <div class="h-[70%] overflow-y-auto text-sm ">
                        <span id="crime_desc" class="italic">Encompasses actions causing physical harm or emotional distress to individuals, including assault, 
                            battery, robbery, child abuse, kidnapping, sexual assault, manslaughter, murder, and violation of safety measures.</span>
                    </div>
                </div>

                <div id="empty_result" class="hidden w-full h-[20rem] relative text-center space-y-1">
                    <h1 class="m-0 p-0 absolute text-[#8F8F8F] font-space top-8 text-xl w-full mb-10">Error, no result!</h1>
                    <img src="{% static 'img/empty_error.gif' %}" alt="empty" class="object-fit w-full lg:w-1/2 h-full mx-auto">
                </div>
                
            </div>

        </div>
    </div>
        
    <script src="{% static 'js/classification.js' %}"></script>
{% endblock cf_main %}















{% block sidebar2 %}

    <div class="flex flex-col h-full gap-8 ">
        <div class="h-full lg:h-fit border border-solid border-1 border-[#D3D3D3] rounded-lg p-[1.5rem] space-y-1">
            <div class="flex justify-between items-center">
                <div class="font-space font-bold flex space-x-3 items-center">
                    <img src="{% static 'img/black_ml.png' %}" alt="" class="w-[1rem] h-[1rem]">
                    <p class="m-0 text-base">Model:</p>
                </div>
                
                <div class="font-inter text-xs">
                    <span>Naive Bayes</span>
                </div>
            </div>

            <div class="flex justify-between items-center">
                <div class="font-space font-bold flex space-x-3 items-center">
                    <img src="{% static 'img/dataset_logo.png' %}" alt="" class="w-[1rem] h-[1rem]">
                    <p class="m-0 text-base">Dataset:</p>
                </div>
                
                <div class="font-inter text-xs">
                    <span>gmanews.csv</span>
                </div>
            </div>

            <div class="flex justify-between items-center">
                <div class="font-space font-bold flex space-x-3 items-center">
                    <img src="{% static 'img/dataset_count.png' %}" alt="" class="w-[1rem] h-[1rem]">
                    <p class="m-0 text-base">Dataset Count:</p>
                </div>
                
                <div class="font-inter text-xs">
                    <span>2500</span>
                </div>
            </div>

            <div class="flex justify-between items-center">
                <div class="font-space font-bold flex space-x-3 items-center">
                    <img src="{% static 'img/dumbell.png' %}" alt="" class="w-[1rem] h-[1rem] object-fit">
                    <p class="m-0 text-base">Training Size:</p>
                </div>
                
                <div class="font-inter text-xs">
                    <span>90%</span>
                </div>
            </div>

            <div class="flex justify-between items-center">
                <div class="font-space font-bold flex space-x-3 items-center">
                    <img src="{% static 'img/dumbell.png' %}" alt="" class="w-[1rem] h-[1rem] object-fit">
                    <p class="m-0 text-base">Test Size:</p>
                </div>
                
                <div class="font-inter text-xs">
                    <span>10%</span>
                </div>
            </div>
        </div>

        <div class="h-fit border border-solid border-1 border-[#D3D3D3] rounded-lg p-[1.5rem] text-xs ">
            
            <div class="mb-7 text-base font-space font-bold flex space-x-3 items-center">
                <img src="{% static 'img/report-linechart-svgrepo-com.png' %}" alt="report" class="w-[1.3rem] h-[1.3rem]">
                <p class="m-0">Classification Report</p>
            </div>

            <div class="space-y-3">
                <div class="grid grid-cols-5 font-space pb-[0.5rem]">
                    <div> </div>
                    <div class="text-center">
                        <div>Precision</div>
                    </div>
                    <div class="text-center">
                        <div>Recall</div>
    
                    </div>
                    <div class="text-center">
                        <div>f1-score</div>
                    </div>
                    <div class="text-center">
                        <div>Support</div>
                    </div>
                </div>
    
                <div class="grid grid-cols-5 items-center">
                    <div>
                        <div>Morality Crime</div>
                    </div>
                    <div class="text-center">
                        <div>0.59</div>
                    </div>
                    <div class="text-center">
                        <div>0.72</div>
    
                    </div>
                    <div class="text-center">
                        <div>0.65</div>
                    </div>
                    <div class="text-center">
                        <div>18</div>
                    </div>
                </div>
    
                <div class="grid grid-cols-5 items-center">
                    <div>
                        <div>Financial or White Collar Crime</div>
                    </div>
                    <div class="text-center">
                        <div>0.74</div>
                    </div>
                    <div class="text-center">
                        <div>0.70</div>
    
                    </div>
                    <div class="text-center">
                        <div>0.72</div>
                    </div>
                    <div class="text-center">
                        <div>20</div>
                    </div>
                </div>
    
                <div class="grid grid-cols-5 items-center">
                    <div>
                        <div>Violent Crime</div>
                    </div>
                    <div class="text-center">
                        <div>0.83</div>
                    </div>
                    <div class="text-center">
                        <div>0.33</div>
    
                    </div>
                    <div class="text-center">
                        <div>0.48</div>
                    </div>
                    <div class="text-center">
                        <div>15</div>
                    </div>
                </div>
    
                <div class="grid grid-cols-5 items-center">
                    <div>
                        <div>Property Crime</div>
                    </div>
                    <div class="text-center">
                        <div>0.65</div>
                    </div>
                    <div class="text-center">
                        <div>0.81</div>
    
                    </div>
                    <div class="text-center">
                        <div>0.72</div>
                    </div>
                    <div class="text-center">
                        <div>16</div>
                    </div>
                </div>
    
                <div class="grid grid-cols-5 items-center">
                    <div>
                        <div>Statutory Crime</div>
                    </div>
                    <div class="text-center">
                        <div>0.86</div>
                    </div>
                    <div class="text-center">
                        <div>0.76</div>
    
                    </div>
                    <div class="text-center">
                        <div>0.81</div>
                    </div>
                    <div class="text-center">
                        <div>50</div>
                    </div>
                </div>
    
                <div class="grid grid-cols-5 items-center">
                    <div>
                        <div>Cybercrime</div>
                    </div>
                    <div class="text-center">
                        <div>0.82</div>
                    </div>
                    <div class="text-center">
                        <div>0.88</div>
    
                    </div>
                    <div class="text-center">
                        <div>0.85</div>
                    </div>
                    <div class="text-center">
                        <div>111</div>
                    </div>
                </div>
            </div>


            <div class="mt-10 space-y-3">
                <div class="grid grid-cols-5 items-center">
                    <div>
                        <div>Accuracy</div>
                    </div>
                    <div>
                        <div></div>
                    </div>
                    <div>
                        <div></div>
                    </div>
                    <div class="text-center">
                        <div>0.79</div>
                    </div>
                    <div class="text-center">
                        <div>230</div>
                    </div>
                </div>

                <div class="grid grid-cols-5 items-center">
                    <div>
                        <div>Macro avg</div>
                    </div>
                    <div class="text-center">
                        <div>0.75</div>
                    </div>
                    <div class="text-center">
                        <div>0.70</div>
                    </div>
                    <div class="text-center">
                        <div>0.70</div>
                    </div>
                    <div class="text-center">
                        <div>230</div>
                    </div>
                </div>

                <div class="grid grid-cols-5 items-center">
                    <div>
                        <div>Weighted avg</div>
                    </div>
                    <div class="text-center">
                        <div>0.80</div>
                    </div>
                    <div class="text-center">
                        <div>0.79</div>
                    </div>
                    <div class="text-center">
                        <div>0.78</div>
                    </div>
                    <div class="text-center">
                        <div>230</div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock sidebar2 %}

