{% extends 'app_base.html' %}
{% load static %}

{% block 'title' %}K-means{% endblock %}
{% block 'ml_num' %}Machine Learning 2{% endblock %}
{% block 'model' %}K-means{% endblock %}
{% block 'model_title' %}K-means{% endblock %}
{% block 'algorithm_type' %}Clustering Algorithm{% endblock %} 


{% block cl_sidebar1 %}
    <div class="mt-7 mb-3 border border-solid border-1 border-[#D3D3D3] rounded-lg p-[1.5rem] space-y-1">
        <div class="flex justify-between items-center">
            <div class="font-space font-bold flex space-x-3 items-center">
                <img src="{% static 'img/black_ml.png' %}" alt="" class="w-[1rem] h-[1rem]">
                <p class="m-0 text-base">Model:</p>
            </div>
            
            <div class="font-inter text-xs">
                <span>K-means</span>
            </div>
        </div>

        <div class="flex justify-between items-center">
            <div class="font-space font-bold flex space-x-3 items-center">
                <img src="{% static 'img/dataset_logo.png' %}" alt="" class="w-[1rem] h-[1rem]">
                <p class="m-0 text-base">Dataset:</p>
            </div>
            
            <div class="font-inter text-xs">
                <span>{{dataset_name}}</span>
            </div>
        </div>

        <div class="flex justify-between items-center">
            <div class="font-space font-bold flex space-x-3 items-center">
                <img src="{% static 'img/dataset_count.png' %}" alt="" class="w-[1rem] h-[1rem]">
                <p class="m-0 text-base">Column Count:</p>
            </div>
            
            <div class="font-inter text-xs">
                <span>{{col_count}}</span>
            </div>
        </div>

        <div class="flex justify-between items-center">
            <div class="font-space font-bold flex space-x-3 items-center">
                <img src="{% static 'img/dataset_count.png' %}" alt="" class="w-[1rem] h-[1rem]">
                <p class="m-0 text-base">Row Count:</p>
            </div>
            
            <div class="font-inter text-xs">
                <span>{{row_count}}</span>
            </div>
        </div>

    </div>

    <div class="flex justify-center">
        <img src="data:image/png;base64,{% if barchart_image %} {{ barchart_image }} {% endif %}" alt="KMeans cluster points" class="w-[28rem] h-[20rem]">
    </div>
{% endblock cl_sidebar1 %}






{% block cl_main %}

    <div class="h-[45rem] overflow-y-auto grid grid-cols-2 gap-4 pr-3">
        {% for cluster_label, cluster in cluster_info %}
            <div class="p-3 rounded-lg border border-1 border-slate-200 text-black">
                <h3 class="font-space font-bold border-light py-1 select-none">{{ cluster_label }}</h3>
                <ul class="py-2 font-inter">
                    {% for word in cluster %}
                        {{ word }}
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>
    

{% endblock cl_main %}



{% block cl_sidebar2 %}
    <div class="space-y- h-full overflow-y-auto pr-3">
        {% for title, wordcloud_image in wordcloud_images %}
            <h3 class="bg-slate-200 w-full rounded-lg py-2 px-5 font-space text-center lg:text-left">{{ title }}</h3>
            <div class="flex justify-center">
                <img src="data:image/png;base64,{{ wordcloud_image }}" alt="Cluster Word Cloud" >
            </div>
        {% endfor %}
    </div>

{% endblock cl_sidebar2 %}