[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
joblib = "*"
imblearn = "*"
pandas = "*"
matplotlib = "*"
psycopg2-binary = "*"
dj-database-url = "*"
django-environ = "*"
gunicorn = "*"
whitenoise = "*"
wordcloud = "*"
folium = "*"
branca = "*"

[dev-packages]

[requires]
python_version = "3.11"
