

<div class="flex flex-col space-y-2">
    <span class="rounded-lg bg-red-600 p-[0.5rem] text-white font-space w-[35%] text-center">Violent Crime</span>
    <span class="italic">Encompasses actions causing physical harm or emotional distress to individuals, including assault, 
        battery, robbery, child abuse, kidnapping, sexual assault, manslaughter, murder, and violation of safety measures.</span>
</div>

<div class="flex flex-col space-y-2">
    <span class="rounded-lg bg-[#FFC000] p-[0.5rem] text-white font-space w-[35%] text-center">Statutory Crime</span>
    <span class="italic">Refers to acts prohibited for the betterment and protection of society, including driving under the influence (DUI), drug possession, sale or distribution, 
        public intoxication, selling alcohol to minors, driving without a license, reckless driving, hit and run, illegal importation of goods, and illegal parking.</span>
</div>

<div class="flex flex-col space-y-2">
    <span class="rounded-lg bg-[#93C572] p-[0.5rem] text-white font-space w-[35%] text-center">Property Crime</span>
    <span class="italic">Pertains to offenses related to property damage, theft, or destruction, such as shoplifting, 
        theft, arson, property damage, and illegal possession of firearms which can result in imprisonment and fines.</span>
</div>

<div class="flex flex-col space-y-2">
    <span class="rounded-lg bg-[#1434A4] p-[0.5rem] text-white font-space w-[35%] text-center">Cybercrime</span>
    <span class="italic">Refers to an illegal activity committed through the use of computers, mobile phones, or any other device that can be used by means of technology. Some of its various forms are identity theft, hacking websites or networks, spreading fake news, video pornography, infringing copyright, 
        selling illegal items, online scamming, and phishing, in which fraudulent email messages or SMS are used to steal personal information.</span>
</div>

<div class="flex flex-col space-y-2">
    <span class="rounded-lg bg-[#FFF5EE] p-[0.5rem] text-black font-space w-[60%] text-center">Financial/White Collar Crime</span>
    <span class="italic">Financially motivated offenses, often occurring in the business world, which, while nonviolent, can inflict substantial financial losses on individuals and businesses. Examples include embezzlement, 
        forgery, fraud, tax evasion, identity theft, public corruption, healthcare fraud, and election law violations.</span>
</div>

<div class="flex flex-col space-y-2">
    <span class="rounded-lg bg-[#800080] p-[0.5rem] text-white font-space w-[35%] text-center">Morality Crime</span>
    <span class="italic">Includes violations of accepted social and moral values rather than harm to individuals 
        or property, encompassing crimes like prostitution, bigamy, illegal gambling, illegal drug use, and indecent exposure.</span>
</div>

