{% load static %}

<header class="flex-1 z-30">
  <nav class="pt-14 flex justify-between font-inter font-medium mx-12 md:mx-24">
    <div class="md:flex md:space-x-10 md:items-center">
      <div class="cursor-pointer hidden md:block" onclick="window.location.href = '/';">
        <img src="{% static 'img/brand_logo_scelustrace.png' %}" alt="" class="w-30 lg:w-64 h-8" 
        />
      </div>
      <div class="cursor-pointer  flex justify-center items-center block md:hidden h-full" onclick="window.location.href = '/';">
        <img src="{% static 'img/secondary_logo.png' %}" class="w-30 h-4" alt=""
        />
      </div>

      <div class="hidden lg:block">
        <ul class="text-white flex space-x-10 text-base">
          <li>
            <a href="{% url 'aboutus' %}" class="hover:opacity-80">About us</a>
          </li>
          <li>
            <a href="{% url 'aboutus' %}" class="hover:opacity-80">Contact us</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="text-white flex space-x-10 items-center z-30 text-sm lg:text-base">
      <a href="{% url 'login' %}" class="hover:opacity-80">Login</a>

      <a href="{% url 'signup' %}" class="bg-white text-black py-1.5 px-2.5 rounded-xl hover:bg-[#222122] hover:text-white cursor-pointer transition ease-in duration-300">Sign up</a>
    </div>
  </nav>
</header>
